# dependencies
node_modules
.pnp
.pnp.js

# packages
dist

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# turbo
.turbo

# log files
logs
*.log

# Typescript
tsconfig.tsbuildinfo

# npm
npm-debug.log*
npm-debug.log
.npmrc

# RN SDK

# API key stored here
packages/react-native/src/utils/ErrorReporterConfig.ts

# Tests
coverage/**/*