name: CI

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

permissions:
  contents: read
  pull-requests: read
  checks: write
  statuses: write
  actions: write

jobs:
  build:
    name: "Validate with Node ${{ matrix.node-version }}"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node-version: ["26", "24", "22"] # We only support LTS versions of Node.js that are still maintained
    steps:
      - name: Checkout branch
        uses: actions/checkout@v4

      - name: Setup environment
        uses: ./.github/actions/setup
        with:
          node-version: ${{ matrix.node-version }}

      - name: Lint
        run: pnpm lint

      - name: Typecheck
        run: pnpm typecheck
