name: Release

on:
  push:
    branches:
      - main

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    # prevent this action from running on forks
    if: github.repository == 'quiltt/quiltt-js'

    name: Release
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/setup
        with:
          build-packages: "false"

      - name: Create .npmrc in home folder
        run: |
          echo "//registry.npmjs.org/:_authToken=\${NODE_AUTH_TOKEN}" >> $HOME/.npmrc
          echo "strict-peer-dependencies=false" >> $HOME/.npmrc
          echo "git-checks=false" >> $HOME/.npmrc

      - name: Authenticate with npm registry
        run: echo "//registry.npmjs.org/:_authToken=${NODE_AUTH_TOKEN}" > .npmrc
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Delete existing git tags for @quiltt/examples-
        run: |
          # Fetch all tags from the remote to ensure the local git is up-to-date
          git fetch --tags
          # Find tags starting with @quiltt/examples- and delete them locally and remotely
          git tag -l "@quiltt/examples-*" | xargs -n 1 -I % sh -c 'git tag -d %; git push origin --delete %'

      - name: Create release pull request or release to npm
        id: changesets
        uses: changesets/action@v1
        with:
          version: pnpm version
          publish: pnpm publish
          title: Version and Release Packages
          createGithubReleases: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
